<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../header %>
</head>


<main>
    <div class="container">
        <h1>Title</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>
