<!DOCTYPE html>
<html lang="en">

    <% include ../header %>




    <div class="container">
        <h1><%= Title%></h1>
 <a href="/profile">Profile</a>
    </div>
<br><a href="/transfer"> Transfer</a>

<% include ../footer %>
